body {
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #product-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  #product-list li {
    background-color: #f8f9fa;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
  }
  
  #product-list img {
    margin-right: 10px;
    max-width: 100px;
    border-radius: 8px;
  }
  